:root {
    --background: #FFF5E4;
    /* Soft Butter Yellow */
    --primary: #FEBA17;
    /* Warm Amber */
    --primary: #9F2042;
    --secondary: #F8F4E1;
    /* Vibrant Orange */
    --accent: #4E1F00;
    --accent: #F8F4E1;
    /* Deep Orange */
    --text: #4E342E;
    /* Rich Brown */

}

.Navbar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 5000;
    /* display: flex; */
    background-color: var(--primary);
    /* //rgb(2, 45, 69) */
    /* color: white; */
    color: var(--text-color);
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 10px min(50px, 5%);
}

.NavLink {
    color: var(--text);
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        /* font-size: 18px; */
        scale: 1.1;
        font-weight: 500;
        color: #FEBA17;
    }

}
@media only screen and (min-width:800px) {
    .NavLink:hover{
        color: var(--primary);
    }
}

.NavTitleLink {
    color: var(--accent);
    text-align: start;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 10px;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .NavTitleLink {
        font-size: 1.5rem;
    }
}

.NavTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    text-align: start;
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 8px;
    margin-bottom: 10px;
    align-items: center;

}

.title {
    font-size: 2rem;
}

.landingPageContainer {
    text-align: center;
    /* margin: 20px; */
    padding: 20px 8%;
    position: relative;
    /* background-color: #a77ee575; */
    background: linear-gradient(var(--primary), var(--secondary),var(--secondary));
}

.landingPageContainer::before {
    content: '';
    position: absolute;
    inset: 0;
    /* background-image: url('/public/large-tsunami-wave-crashing-into-city.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    /* 👈 reduce only the background image */
    z-index: -1;
}

.normalText {
    font-size: 18px;
    text-align: justify;
}

.secondaryText {
    font-size: 16px;
    text-align: justify;
    font-weight: 500;
}

.mapCard {
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px darkslategray;
}

.title_2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.devContainer {
    border-top: 2px solid;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);


}

.NavLinkBox {
    display: flex;
}

.devBox {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.imgBox {
    width: 500px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.showOnMobile{
    display: none;
}
.hideOnMobile{
    display: block;
}

@media only screen  and (max-width:800px){
    
    .showOnMobile{
        display: block;
    }
    .hideOnMobile{
        display: none;
    }
}
.sideNavbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #FEBA17;
    top: 0;
    right: 0;
    /* border-radius: 20px; */
    justify-content: center;
    width: 300px;
    font-size: 20px;
    align-items: center;
    height: 100vh;
    background-color: #9f2042a2;
    backdrop-filter: blur(10px);
    color: var(--background);
    animation: slide 0.6s ease-in-out;
}
@keyframes slide {
    from{
        right: -300px;
    }
    to{
        right: 0;
    }
}
.sideNavlink{
    padding: 10px 0;
    border-bottom: 2px solid grey;
}
.linkcolor{
    color: var(--secondary);
}

.leaflet-container {
    height: 500px;
    width: max(60%, 360px);
    margin-inline: auto;
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid purple;
    box-shadow: 6px 6px 20px darkslategrey;
    margin-bottom: 50px;
}

.menuContainer {
    /* height: 80vh; */
    width: 360px;
    padding: 50px 30px;
    margin-bottom: 20px;
    background-color: var(--background);
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 10px grey;
    background: linear-gradient(var(--primary), var(--secondary));
    transition: width 1s ease-in-out;
}

.dataContainer {
    height: 90vh;
    top: 5vh;
    overflow-y: scroll;
    left: 10vw;
    z-index: 10000;
    box-shadow: 0 0 20px darkslategrey;
    position: fixed;
    border-radius: 20px;
    width: max(400px,80vw);
    padding: 30px 30px;
    background-color: lightgoldenrodyellow;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
}

@media screen and (max-width:768px) {
    .menuContainer {
        height: fit-content;
    }

    .leaflet-container {
        height: 360px;
    }

    .dataContainer {
        width: 90vw;
        height: fit-content;
        left: 5vw;
        top: 4vh;
    }
}


.contactFormContainer {
    width: 50%;
    min-width: 360px;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--secondary);
    background: linear-gradient(var(--primary), var(--secondary));
    box-shadow: 0 0 10px darkslategrey;
    border-radius: 20px;
}

.memberbox {
    height: 370px;
    width: 250px;
    margin: 0 20px 40px 20px;
    box-shadow: 0 0 10px darkslategrey;
    border-radius: 20px;
    padding-bottom: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.memberimg {
    max-width: 80%;
    object-fit: contain;
    margin: 10px;
    max-height: 100%;
    border-radius: 10px;
}

.memimgbox {
    height: 200px;
}

.infoTooltip {
    visibility: 'hidden';
    background-color: '#333';
    color: '#fff';
    text-align: 'center';
    border-radius: '4px';
    padding: '5px';
    position: 'absolute';
    z-index: 1;
    top: '100%';
    left: '50%';
    transform: 'translateX(-50%)';
    white-space: 'nowrap';

    &:hover {
        visibility: visible;
    }
}

.footContainer {
    color: var(--secondary) !important;
    background: linear-gradient(to right, var(--primary), var(--secondary));

}

/* .teamContainer{
    background: linear-gradient(#B0DB9C,#CAE8BD);
} */

.loginBox {
    width: 50%;
    min-width: 360px;
    margin: 50px auto;
    padding: 20px 50px;
    max-width: 600px;
    box-shadow: 0 0 10px darkslategrey;
    border-radius: 20px;
    background: linear-gradient(var(--primary), var(--secondary));
}
.spinner {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 40px auto; /* Center horizontally with margin */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.profileBox{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    color: var(--secondary);
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    border: 2px solid var(--secondary);
    border-radius: 20px;
    background-color: #9f204292;
    backdrop-filter: blur(10px);

}

.wave-text {
  font-size: 2.5rem;
  color: #007BFF;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #007BFF, #00BFFF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}